* {
  padding: 0;
  margin: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.background1 {
  background-image: url(../img/image4.png);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -9;
}
.background2 {
  height: 100vh;
  width: 100vw;
  background-color: #ad0c0c;
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: -9;
}
header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
  background-color: #862727;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 390px;
}
h2,
h1,
a {
  align-self: center;
  color: #d8c479;
  text-decoration: none;
}
img {
  size: 10px;
  align-self: center;
}
#pagetagsstyling {
  gap: 50px;
}
#accountimage {
  align-self: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
  height: 200px;
  width: 384px;
  background-color: #862727;
  margin-bottom: 195px;
}
.block input {
  text-align: center;
  height: 40px;
  width: 200px;
  border-width: 2px;
}
#postcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px
}
#nogap{
  gap: 10px;
  align-self: flex-end;
  margin-right: 30px;
}
#enter {
  background-color: #d8c479;
  height: 30px;
  width: 100px;
  border-radius: 4px;
}
#anderekleur {
  text-align: center;
  color: #862727;
}
.inforestaurant {
  width: 100vw;
  height: 116px;
  background-color: #862727;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bestellenbezorgen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 292px;
  background-color: black;
}
.bezorgtijdenblok {
  display: flex;
  justify-content: center;
  height: 71px;
  width: 228px;
  background-color: #862727;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.bestelnu {
  display: flex;
  justify-content: center;
  height: 209px;
  width: 376px;
  background-color: #d8c479;
  border-radius: 20px;
}
.neemcontactop {
  display: flex;
  justify-content: center;
  height: 208px;
  width: 300px;
  background-color: #862727;
  border-radius: 20px;
  margin-right: 20px;
}
#positioncolumn {
  margin-left: 15px;
}
.gerechtendranken {
  background-color: black;
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 25px;
}
.gerecht {
  background-color: #862727;
  width: 400px;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.voegtoe{
  width: 100px;
  height: 50px;
  background-color: #d8c479;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.algemeen{
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-left: 3px;
}
#imgstyling{
  height: 265px;
  width: 293px;
  border-radius: 5px;
}
.flexaccount{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.accountblock{
  background-color: #862727;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  gap: 10px;
  border-radius: 10px;
}
input{
  height: 60px;
  width: 200px;
}
#stylingbuttonlogin{
  background-color: #d8c479;
}
.blockbeheer{
  height: 60px;
  width: 300px;
  background-color: #d8c479;
  display: flex;
  justify-content: center;
}
.stylingadmin{
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.stylingadminsections{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.autostyle{
  width: auto;
  height: auto;
  background-color: #862727;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.blockbeheer2{
  height: 60px;
  width: 300px;
  background-color: #862727;
  display: flex;
  justify-content: center;
}
#gapbetween{
  gap: 460px;
}
#autostyleanders{
  display: flex;
  flex-direction: column;
}
#berichtbox{
  height: 150px;
  width: 200px;
}
.ingelogd{
  height: 200px;
  width: 400px;
  background-color: #862727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.aanpassenstyle{
  height: auto;
  width: 350px;
  background-color: #862727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}